In [20]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [21]:
train_file_name = r'data/kaggle-otto/train.csv'
train = pd.read_csv(train_file_name)
print(train.shape)
train.head(3)

(61878, 95)

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1

In [22]:
test_file_name = r'data/kaggle-otto/test.csv'
test = pd.read_csv(test_file_name)
print(test.shape)
test.head(3)

(144368, 94)

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
0,1,0,0,0,0,0,0,0,0,0,...,0,0,11,1,20,0,0,0,0,0
1,2,2,2,14,16,0,0,0,0,0,...,0,0,0,0,0,4,0,0,2,0
2,3,0,1,12,1,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,1

In [25]:
#Labels the target column, drop the id and target columns
def label_and_clean(train, test):
    le = LabelEncoder()
    le.fit(data.target)
    labels = le.transform(data.target) 
    classes = list(le.classes_) 
    test_ids = test.id
    
    train.drop(['id', 'target'], axis=1, inplace=True)
    test.drop(['id'], axis=1, inplace=True)
    
    return train, test, labels, classes, test_ids

In [26]:
train, test, labels, classes, test_ids = label_and_clean(train, test)
train.head(5)

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
0,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,1,6,1,5,0,0,1,...,22,0,1,2,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0